.add-words {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 50%;
    padding: 20px;
    max-width: 50%;
    z-index: 10;
    &__model {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.6);
        & textarea {
            border: 1px solid #000000;
            font-size: 0.8vw;
            padding: 0.5vw;
            width: 20vw;
            height: 30vh;
            outline: none;
            cursor: context-menu;
            z-index: 1000;
            resize: none;
        }
        & div {
            z-index: 1000;
            position: absolute;
            color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: 20px;
            display: inline-block;
            right: 0;
            left: 0;
            padding: 0.5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0;
            margin: 0 auto;
            width: 7vw;
            margin-bottom: 25vh;
            font-size: 1.3vw;
            cursor: pointer;
        }
    }
    &__wrapper {
        min-height: 100vh;
        background-color: #000b18;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            min-width: 40vw;
            height: 40vh;
            filter: blur(100px);
            background-color: #24c6dc;
            position: absolute;
            z-index: 0;
        }
        & span {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 40vw;
            height: 40vh;
            position: relative;
            background-color: #000b18;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border: 0.25vw solid #24c6dc;
            }
        }
    }
    &__container {
        height: 100%;
        flex: 1 1 50%;
        max-width: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        & h1 {
            text-align: center;
            z-index: 1;
            color: #fff;
            font-size: 1.2vw;
            line-height: 1.5vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &::before {
            content: "";
            position: absolute;
            margin-left: -70%;
            width: 30vw;
            height: 100vh;
            transform: rotate(25deg);
            background: linear-gradient(90deg, #00dbf8, #012c57);
        }
    }
    & h1 {
        color: lightblue;
        font-size: 1.2vw;
        margin-bottom: 1vw;
    }
    & input[type="button"] {
        background-color: unset;
        border: none;
        color: #ffffff;
        padding: 0.5vw 0.6vw;
        opacity: 0.6;
        cursor: pointer;
        outline: none;
    }
    & input[type="submit"] {
        margin-top: 1vw;
        padding: 0.5vw 2vw;
        font-size: 0.8vw;
        border: none;
        color: #ffffff;
        outline: none;
        border-radius: 4vw;
        cursor: pointer;
        background: linear-gradient(35deg, #24c6dc, #0052a2 50%, #24c6dc);
        font-family: "Rubik", sans-serif !important;
        &:active {
            transform: scale(0.98);
        }
    }
    & input[type="text"] {
        min-width: 12vw;
        cursor: context-menu;
        padding: 0.5vw;
        font-size: 0.8vw;
        font-family: "Rubik", sans-serif !important;
        outline: none;
        color: #ffffff;
        border: none;
        background-color: unset;
        border-bottom: 1px solid #00dbf8;
        margin: 0.5vw;
        &::selection{
            color: #000000;
            background-color: #ffffff;
        }
        &::first-letter {
            text-transform: uppercase;
        }
        &::placeholder {
            opacity: 0.6;
            color: #ffffff;
        }
    }
}
